
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>数据营地——Data camp</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="./search">Home</a></li>

          <li role="presentation"><a href="./pyecharts_1">可视化展示——柱状图</a></li>
            <li role="presentation"><a href="./data_one">数据一</a></li>
            <li role="presentation"><a href="./data_two">数据二</a></li>
            <li role="presentation"><a href="./data_three">数据三</a></li>
            <li class="active" role="presentation"><a href="./about">About</a></li>
            <li role="presentation"><a href="#bottom">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">关于——About</h3>
      </div>

      <div class="jumbotron">
        <h1>关于作者</h1>
        <p class="lead">这是一个关于页，在这个页面里将会对和作者有关的东西进行记录.</p>
        <p><a class="btn btn-lg btn-success" href="./search" role="button">回到首页</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>项目心得</h4>
          <p>从项目规划到项目部署，在历时两个多星期之后，终于完成了python的期末项目.虽然在期中的时候取得了并不是很理想的成绩，但是在期末项目上还是没有放弃，坚持做到了最后。</p>
<br />
          <h4>Python感悟</h4>
          <p>虽然以后可能不会在非常深入的接受有关python的教学，把这门课程18周以来的学习当作宝贵的经验，开启新的征程。</p>
<br />
          <h4>代码记录</h4>
          <p><a href="https://gitee.com/lin_shiying/python-week01/blob/master/python-week01.md">python-week01</a></p>
          <p><a href="https://gitee.com/lin_shiying/python-week02/blob/master/python-week02.md">python-week02</a></p>
          <p><a href="https://gitee.com/lin_shiying/python-week04/blob/master/week4.md">python-week04</a></p>
          <p><a href="https://gitee.com/lin_shiying/python-week05/blob/master/shoppingcar.md">python-week05</a></p>
          <p><a href="https://gitee.com/lin_shiying/python-week06">python-week06</a></p>
          <p><a href="https://gitee.com/lin_shiying">我的个人gitee主页</a></p>
        </div>
<br /> 
        <div class="col-lg-6">
          <h4>写在最后</h4>
          <p>希望这次的python期末项目成果展示可以取得比较好的分数.希望一切都好，新年快乐。</p>
<br />
          <h4>页面菜单</h4>
          <br />
          <p><a href="./pyecharts_1">可视化之柱状图</a></p>
          <p><a href="./data_one">数据一</a></p>
          <p><a href="./data_two">数据二</a></p>
          <p><a href="./data_three">数据三</a></p>
          <p><a href="./about">关于</a></p>
          <p><a href="./log">日志log</a></p>


        </div>
      </div>

      <footer class="footer">
        <a name="bottom"></a>
        <br />
        <p class="lead">Contact:</p>
        <p>邮箱：2368898533@qq.com</p>


      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
