<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>数据营地——Data camp</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
          <li class="active" role="presentation"><a href="./search">Home</a></li>
          <li role="presentation"><a href="./pyecharts_1">可视化展示——柱状图</a></li>
            <li role="presentation"><a href="./data_one">数据一</a></li>
            <li role="presentation"><a href="./data_two">数据二</a></li>
            <li role="presentation"><a href="./data_three">数据三</a></li>
            <li role="presentation"><a href="./about">About</a></li>
            <li role="presentation"><a href="./log">日志log</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">数据营地——Data camp</h3>
      </div>

      <div class="jumbotron">
        <h1>欢迎来到“Data camp”</h1>
        <p class="lead">在这个web里将会对一些数据进行展示，以及python相关的学习记录</p>
        <p><a class="btn btn-lg btn-success" href="./pyecharts_1" role="button">了解更多</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>写在前面</h4>
          <p>作为一名网新人，在网新学习之路上遇到了很多的问题和困难，在不断试错中成长，遇到了问题多了，似乎面对新问题也不再像以往那样容易慌张，希望在以后的学习道路上也可以继续坚持，继续努力，不断进步！</p>
          <br />
          <h4>关于python</h4>
          <p>一些代码学习记录:</p>
          <p><a href="https://gitee.com/lin_shiying/gaud-api/blob/master/geo_%E6%9E%97%E8%AF%97%E9%A2%96.ipynb">高德地图API</a></p>
          <p><a href="https://gitee.com/lin_shiying/api_azure">计算机视觉、face++、Azure、百度智能云</a></p>
          <p><a href="https://gitee.com/lin_shiying/python-week06">week6的python总结</a></p>
          <p><a href="https://gitee.com/lin_shiying">我的个人gitee主页</a></p>
          <br />
          <h4>一点心得小结</h4>
          <p>可以说是在python之路上走的太艰难，也证实了我确实没有学习代码的天赋，需要花很多时间来进行学习巩固。最后一定要说一句，代码实在是太难了！</p>
        </div>
<br />
        <div class="col-lg-6">
          <h2>页面菜单</h2>
          <br />
          <p><a href="./pyecharts_1">可视化之柱状图</a></p>
          <p><a href="./data_one">数据一</a></p>
          <p><a href="./data_two">数据二</a></p>
          <p><a href="./data_three">数据三</a></p>
          <p><a href="./about">关于</a></p>
          <p><a href="./log">日志log</a></p>
          <br />
           <p class="lead">Contact:</p>
           <p>邮箱：2368898533@qq.com</p>
        </div>
      </div>
      
<br />

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
